* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root{
  min-height: 100vh;
  background-color: var( --blackLighter);
}
:root {
  --primary: #FF0000;
  --black: #000000;
  --blackLighter: #78788c;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #950101;
  --buttonColor: #14c655;
  --buttonColorHover: #0d6536;
  height: 100%;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}